<h1 matDialogTitle>{{ data.title }}</h1>
{{"ADD" | translate }} {{"Loan" | translate }}
<form [formGroup]="itemForm" (ngSubmit)="submit()">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
        <div fxFlex="50"  class="pr-16">
            <mat-form-field class="full-width">
                <input
                    matInput
                    name="name"
                    [formControl]="itemForm.controls['name']"
                    placeholder="Name">
            </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-16">
            <mat-form-field class="full-width">
                <input
                    matInput
                    type="email"
                    name="email"
                    [formControl]="itemForm.controls['email']"
                    placeholder="Email">
            </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-16">
            <mat-form-field class="full-width">
                <input
                    matInput
                    name="mobile"
                    [formControl]="itemForm.controls['mobile']"
                    placeholder="Mobile Number">
            </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-16">
            <mat-form-field class="full-width">
                <input
                    matInput
                    name="address"
                    [formControl]="itemForm.controls['address']"
                    placeholder="Address">
            </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-16">
            <mat-form-field class="full-width">
                <input
                    matInput
                    name="amount"
                    [formControl]="itemForm.controls['amount']"
                    placeholder="Loan Amount">
            </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-16">
            <mat-form-field class="full-width">
                <input
                    matInput
                    name="interestRate"
                    [formControl]="itemForm.controls['interestRate']"
                    placeholder="Interest Rate">
            </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-16">
            <mat-form-field class="full-width">
                <input
                    matInput
                    name="totalLoan"
                    [formControl]="itemForm.controls['totalLoan']"
                    placeholder="Total Loan"
                    readonly>
            </mat-form-field>
        </div>

        <div fxFlex="50"  class="pr-16">
            <mat-form-field class="full-width">
                <input
                    matInput
                    name="duration"
                    [formControl]="itemForm.controls['duration']"
                    placeholder="Duration"
                    (click)="applyTotalLoan()">
            </mat-form-field>
        </div>

        <div fxFlex="50" class="pr-16">
            <mat-form-field class="full-width">
                <input 
                    matInput [matDatepicker]="picker"
                    [formControl]="itemForm.controls['loanDate']"
                    placeholder="Choose a date"
                >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div fxFlex="50"  class="pt-16 pr-16">
            <mat-slide-toggle [formControl]="itemForm.controls['isApproved']">Approve Loan</mat-slide-toggle>
        </div>

        <div fxFlex="100" class="mt-16">
            <button mat-raised-button color="primary" [disabled]="itemForm.invalid">{{"SAVE" | translate }}</button>
            <span fxFlex></span>
            <button mat-button color="warn" type="button" (click)="dialogRef.close(false)">Cancel</button>
        </div>
    </div>
</form>